.carousel{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 301px;
    margin: 0px 0px 20px 0px;
    padding: 0 15px 0 0;
    overflow: hidden;
    background-color: #000;
    background: url('../images/slider-image.png');
    background-size: 933px 301px;
    .left-arrow{
        margin: 21px 9px 14px 11px;
        width: 60px;
        height: 46px;
        transform: rotate(180deg);

        
    }

    .right-arrow{
        width: 23px;
        height: 46px;
        margin: 44px -5px 0px 0px;
    }

    &__content{
        display: flex;
        align-items: center;
        position: relative;
        width: 345px;
        height: 301px;
        background-color: #0d7dff;
    }

    &__content::after{
        position: absolute;
        content: "";
        top:0;
        left: 87px;
        transform: rotate(-78deg);
        width: 400px;
        height: 200px;
        background-color: #0d7dff;

    }

    &__text-wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: 0px;
        position: relative;
        z-index: 100;

        h3{
            margin: 0px 0 23px 0px;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            font-weight: normal;
        }
    }

    &__header{
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: bold;
        color:#fff;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 15px;

    }

    &__button{
        display: flex;
        align-items: center;
        width: 204px;
        height: 38px;
        background-color: #fff;
        padding: 12px 15px;

        &-text{
            text-transform: uppercase;
            font-size: 13px;
            color: #0d7dff;
            font-weight: 900;
            margin-right: 15px;
        }
        img{
            width: 17px;
            height: 12px
        }
    }
    &__dots{
        position: relative;
        display: flex;
        z-index: 20;
        justify-content: center;
        margin-top: -41px;
        margin-right: 17px;
        padding-bottom: 29px;
    }

    &__dot{
        background-color: #fff;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        margin-right: 7px;
    }

    &__dot--active:before{
        position: static;
        content: "";
        display: block;
        margin-top: 1px;
        margin-left: 1px;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        background-color: #032d53;
    }
}



@media screen and (max-width:1023px){
    .carousel-wrapper{
        display: none;
    }
}

// @media screen and (max-width:767px){
//     .carousel{
//         display: none;
//         width: 360px;
//         height: 462px;
//         flex-direction:column-reverse;

//         &__content::after{
//         transform:rotate(45deg);
//         left: -1px;
//         }

//         &__content{
//             width: 360px;
//             margin: 0px;
//         }

//         .left-arrow{
//             display: none;
//         }

//         .right-arrow{
//             display: none;
//         }
//     }
// }


