.vacansies{
    display: flex;
    align-items:center;
    padding-left: 25px;
    background: url('../images/open-positions-bg.png') no-repeat;
    background-size: cover;
    background-size: 100%;
    width: calc(100%-30px);
    height: 199px;
    margin:0px 15px;

    &__text{
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: 900;
        line-height: normal;
        color: #ffffff;
    }
}

@media screen and (max-width:767px){
    .vacansies{
        width: 100%;
        max-width: 420px;
        height: 203px;
        margin:0px auto;
        align-self: center;
        
    }
}